- var title1 = "Sniffed Accounts"
- var title2 = "Network Hosts"
- var title3 = "Wireless Networks"
- var title4 = "Network Statistics"
- var title5 = "Sniffed Images"
- var title6 = "Custom Protocols"

head
  script(src='/static/js/jquery.min.js')
  script(src='/static/js/jquery-ui.js')
  script(src='/static/js/lodash.min.js')
  script(src='/static/js/bootstrap.min.js')
  script(src="/socket.io/socket.io.js")
  link(rel='stylesheet', href='/static/css/bootstrap.css')
  link(rel='stylesheet', href='/static/css/control.css')

body
  ul.sidebar
    li(onclick="location.href='/'") Shepards Pi Home
    li(onclick="location.href='/control'") Parser Settings
  input#sidebar-btn.sidebar-btn(type='checkbox' unchecked)
  label(for='sidebar-btn')
  
  .container
    .row
      .col-sm-12
        .h2 ShepardsPi
        .h5 v#{version} | Shepards Pi | Network analysis tool
        img#icon(src="https://bit.ly/2SVHA7O")
    .row
      form(action='/interfaces' method="post")
        .col-md-6.form-group
          .if-title Monitoring Interface:
          .h3 Currently listening on: #{monIF}
          .label(for='Monitor-If') Monitoring Interface:
          select(name='MonitorIf', id='MonitorIf')
              each intf in interface
                  option=intf
        .col-md-6.form-group
          .if-title Promiscuous Interface:
          .h3 Currently Capturing on: #{promIF}
          .label(for='Promiscuous-If') Promiscuous Interface: 
          select(name='PromiscuousIf', id='PromiscuousIf')
              each intf in interface
                  option=intf
        .subBtn
          input.sub(type='submit', value='Save Config')

    .row
      br
      br
      .section-title Parser Control:
      form(action='/parsers' method="post")
        row
          .col-md-6
            .col-sm-1
              .circle.off
            .col-sm-3  
              .label #{parser1}
              input(type='checkbox', name=parser1)
          .col-md-6
            .col-sm-1
              .circle.on
            .col-sm-3
              .label #{parser2}
              input(type='checkbox', name=parser2)
        row
          .col-md-6
            .col-sm-1
              .circle.on
            .col-sm-3
              .label.parser #{parser3}
              input.parser(type='checkbox', name=parser3)
          .col-md-6
            .col-sm-1
              .circle.on
            .col-sm-3
              .label #{parser4}
              input(type='checkbox', name=parser4)
        .subBtn
          input.sub(type='submit', value='Save Config')
